@import '../../assets/_scss/colors.scss';

.lists {
    padding: 0.5em;
}

.list {
    background-color: $solid;
    color: $lightest;
    padding: 0.2em;
    margin: 0.5em;
    border-radius: 0.4em;
    padding-bottom: 1em;
    box-shadow: 0em 0.2em 0.4em $dark;
}

.tasks {
    background-color: $dark;
    color: $lightest;
    padding: 0.6em;
    margin: 0.5em 0.5em;
    border-radius: 0.4em;
    box-shadow: 0em 0.1em 0.2em $darkest;
}

.tasks:hover {
    background-color: $darkest;
    transition: all 0.4s;
    cursor: grab;
}